<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <button routerLink="Machinecards" mat-button>
        <span><mat-icon>developer_board</mat-icon>Konekortit</span>
      </button>

      <button routerLink="DeviceActiveFalse" mat-button>
        <span><mat-icon>developer_board</mat-icon>Ei käytössä olevat konekortit</span>
      </button>
    </div>
    <div>
      <button mat-flat-button>Login
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
