<mat-toolbar color="primary" class="mat-elevation-z6">

    <div fxFlex fxLayout fxLayoutAlign="flex-start" fxLayoutGap="10px" >
      <button *ngIf="!options.isBackEnabled" routerLink="Machinecards" mat-button>
        <span><mat-icon svgIcon="playing-cards"></mat-icon>Konekortit</span>
      </button>

      <button *ngIf="!options.isBackEnabled" routerLink="DeviceActiveFalse" mat-button fxHide.xs>
        <span><mat-icon>restore_from_trash</mat-icon>Palauta roskakorista</span>
      </button>


      <button *ngIf="options.isBackEnabled" mat-icon-button (click)="onNavigateBack()">
        <mat-icon class="arrowBack">arrow_back</mat-icon>
      </button>
    </div>

  <button *ngIf="!options.isBackEnabled" routerLink="createNewMachineCardButton" (click)="createNewMachineCard()" mat-button fxHide.xs>
      <span><mat-icon>add_comment</mat-icon>Uusi konekortti</span>
  </button>

  <button *ngIf="!options.isBackEnabled" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-button fxHide.gt-xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createNewMachineCard()">
      <mat-icon>add_comment</mat-icon>
      <span>Uusi konekortti</span>
    </button>
    <button mat-menu-item routerLink="DeviceActiveFalse">
      <mat-icon>restore_from_trash</mat-icon>
      <span>Palauta roskakorista</span>
    </button>
  </mat-menu>

  <button mat-icon-button *ngFor="let action of options?.actions" (click)="action.runAction()">
    <i class="material-icons">{{action.icon}}</i>
  </button>


</mat-toolbar>
