<section>
  <form fxLayout="column" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard" color="primary">
      <label for="laitekoodi"></label>
      <input type="text" matInput placeholder="deviceCode" id="laitekoodi" formControlName="deviceCode" class="form-control">
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
      <label for="versio"></label>
      <textarea matInput placeholder="versio" id="versio" class="form-control" formControlName="versio"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
    <label for="laitenimi"></label>
    <textarea matInput placeholder="deviceName" id="laitenimi" class="form-control" formControlName="deviceName"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
      <label for="bootUp"></label>
      <textarea matInput placeholder="bootUp" id="bootUp" class="form-control" formControlName="bootUp"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
      <label for="artikkeli"></label>
      <textarea matInput placeholder="article" id="artikkeli" class="form-control" formControlName="article"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" color="primary">
      <label for="mac"></label>
      <textarea matInput placeholder="mac" id="mac" class="form-control" formControlName="mac"></textarea>
    </mat-form-field>
    <button type="submit" mat-button color="primary" [disabled]="!cardForm.valid">Tallenna</button>
    <button type="submit" mat-raised-button color="warn" (click)="onCancel()">Peruuta</button>
  </form>
</section>
<br>
